.menu {
    height: 100%;
    
    background-color: #f7f7f7dd;
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.menu__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: clamp(12px, 1vw + 1px, 16px);
    font-weight: 700;
    color: var(--HeavyMetal);
    flex-direction: column;
    text-align: center;
}

.menu__logo img {
    height: 50px;
    padding: 7px 0;
}

.menu .menu__buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.menu .menu__button {
    background-color: transparent;
    color: var(--HeavyMetal);
    border: none;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: clamp(12px, 1vw + 1px, 16px);
    font-weight: 600;
    text-align: center;
}

.menu .menu__icon {
    font-size: 50px;
    padding: 0 20px;
}

.menu .menu__topics__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu .menu__topics__title hr {
    width: 80%;
    height: 1px;
    background-color: var(--HeavyMetal);
}

.menu .menu__topics__title h3 {
    font-weight: 600;
    font-size: 20px;
    padding: 10px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    filter: drop-shadow(0px 0px 3px #0e0d0d9c);
}

.menu__link {
    text-decoration: none;

    color: var(--HeavyMetal);
    font-weight: 600;
    font-size: clamp(12px, 1vw + 1px, 16px);
}
